.text-container{
   width: 80vw;
   margin-left: 3rem;
   margin-top:8rem;
}

.title{
font-size: 2rem;
font-weight: 700;
color: black;

}

.body-text{
    font-size: 1rem;
}

@media (min-width: 768px){
   .text-container{
   width: 80vw;
   margin-left: 5rem;
   margin-top:16rem;
}
}