.contact-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 0.5em;
}

.contact-list li a {
  text-decoration: underline; 
  color: #f08c00; 
}

.contact-list li {
  text-decoration: none; 
}
.text-container{
   width: 80vw;
   margin-left: 3rem;
   margin-top:8rem;
}

.title{
font-size: 2rem;
font-weight: 700;
color: black;

}

.body-text{
    font-size: 0.9rem;
}

@media (min-width: 768px){
   .text-container{
   width: 80vw;
   margin-left: 5rem;
   margin-top:16rem;
}

.body-text{
    font-size: 1rem;
}
}