        /* Fonts */
        @font-face {
          font-family: 'ubuntu';
          src: url('https://40-s.github.io/40-S/assets/fonts/ubuntu-sans-mono.woff2') format('woff2'),
              url('https://40-s.github.io/40-S/assets/fonts/ubuntu-sans-mono.woff') format('woff');
          font-weight: normal;
          font-style: normal;

          /* Font smoothing */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
      }

